[core]
	excludesfile = ~/dev/dotfiles/.gitignore_global
[merge]
	conflictstyle = diff3
[pull]
	ff = only
[user]
	name = Andrei Motinga
	email = andrew.motinga@gmail.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
